<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galgeleggit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_iconfinder_039_024_gallows_deceased_halloween_death_3792083"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_iconfinder_039_024_gallows_deceased_halloween_death_3792083"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LoserActivity"></activity>
        <activity android:name=".view.WinnerActivity" />
        <activity android:name=".view.HighScoreActivity" />
        <activity android:name=".view.Game" />
        <activity android:name=".view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>